[package]
name = "did-webplus"
version = "0.2.0"
edition = "2021"

[features]
ed25519-dalek = ["selfsign/ed25519-dalek"]

[dependencies]
time = { version = "0.3", features = ["serde", "serde-well-known", "macros"] }
derive_more = { version = "0.99.17", default-features = false, features = [
    "deref",
    "display",
    "from",
    "into",
] }
selfhash = { version = "0.1", features = ["serde", "blake3"] }
selfsign = { version = "0.2", features = ["serde"] }
serde = { version = "1.0", default-features = false, features = ["derive"] }
serde_json = "1.0.106"
serde_with = { version = "3.3.0", optional = true, default-features = false, features = [
    "macros",
] }
thiserror = { version = "1.0.47", default-features = false }

[dev-dependencies]
ed25519-dalek = { version = "2.0.0", features = ["digest", "rand_core"] }
rand = "0.8"
serde_json = { version = "1", default-features = false }
serial_test = { version = "2", default-features = false }
ssi-jwk = { version = "0.1.1", default-features = false, features = [
    "ed25519",
    "secp256k1",
] }
ssi-jws = { version = "0.1.0", default-features = false, features = [
    "ed25519",
    "secp256k1",
] }

[patch.crates-io]
selfhash = { git = "https://github.com/LedgerDomain/selfhash", rev = "730453ca2f13ad99fa712800a9f44fef9a9354ee" }
selfsign = { git = "https://github.com/LedgerDomain/selfsign", rev = "8773dabc82369d8f2ffe55e5635970b151722abb" }
