[package]
name = "vjson-core"
version = "0.1.0"
authors = ["Victor Dods <victor.dods@ledgerdomain.com>"]
edition = "2024"

[dependencies]
async-trait = "0.1.80"
did-key = { path = "../../did-key" }
did-webplus-jws = { path = "../../did-webplus/jws" }
jsonpath_lib = "0.3.0"
jsonschema = { version = "0.18.3", default-features = false }
lazy_static = "1.4.0"
mbx = "0.1.1"
selfhash = { version = "0.5.1", features = [
    "mbx",
    "self-hashable-json",
    "serde",
] }
serde = { version = "1.0", default-features = false, features = ["derive"] }
serde_json = "1.0.107"
serde_json_canonicalizer = "0.3.0"
signature-dyn = "0.1.0"
thiserror = "1.0.60"
tracing = "0.1.37"
verifier-resolver = { path = "../../verifier-resolver" }

[dev-dependencies]
ctor = "0.4.1"
env_logger = "0.11.3"
rand = "0.8"
tokio = { version = "1.41.0", features = ["macros", "rt-multi-thread"] }
