[package]
name = "did-webplus-doc-store"
version = "0.1.0"
authors = ["Victor Dods <victor.dods@ledgerdomain.com>"]
edition = "2021"

[features]
sqlx = ["dep:sqlx"]

[dependencies]
anyhow = "1.0.94"
async-trait = "0.1.80"
did-webplus-core = { path = "../core" }
mbx = "0.1.0"
selfhash = "0.5.0"
serde = { version = "1.0", default-features = false, features = ["derive"] }
serde_json = "1.0.107"
sqlx = { version = "0.8.2", default-features = false, optional = true }
storage-traits = { path = "../../storage-traits" }
thiserror = "1.0.60"
time = { version = "0.3", features = ["serde"] }
tracing = "0.1.37"

# TEMP HACK -- parallel validation of DID documents. -- TODO: maybe put this behind a feature flag
tokio = { version = "1.41", features = ["rt-multi-thread"] } # TEMP HACK
futures = "0.3.31"                                           # TEMP HACK
