[package]
name = "did-webplus-wallet-storage-sqlite"
version = "0.1.0"
authors = ["Victor Dods <victor.dods@ledgerdomain.com>"]
edition = "2021"

[dependencies]
async-trait = "0.1.80"
did-webplus-core = { path = "../core" }
did-webplus-doc-store = { path = "../doc-store", features = ["sqlx"] }
did-webplus-wallet-store = { path = "../wallet-store", features = ["sqlx"] }
mbx = { version = "0.1.0", features = ["signature-dyn"] }
selfhash = "0.5.0"
signature-dyn = "0.1.0"
sqlx = { version = "0.8.2", features = ["sqlite", "time", "uuid"] }
storage-traits = { path = "../../storage-traits", features = ["sqlx-sqlite"] }
time = { version = "0.3", features = ["serde"] }
tracing = "0.1.37"
uuid = "1.9.1"
