[package]
name = "did-webplus-vdg"
version = "0.1.0"
authors = [
    "Ben Nichols <ben.nichols@ledgerdomain.com>",
    "Victor Dods <victor.dods@ledgerdomain.com>",
]
edition = "2024"

[features]
postgres = ["did-webplus-vdg-lib/postgres"]
sqlite = ["did-webplus-vdg-lib/sqlite"]

[dependencies]
anyhow = "1.0.94"
clap = { version = "4.5.4", features = ["derive", "env"] }
did-webplus-vdg-lib = { path = "../vdg-lib" }
dotenvy = "0.15.7"
tokio = { version = "1.41", features = ["full"] }
tracing-subscriber = { version = "0.3.17", features = ["env-filter"] }

[dev-dependencies]
ctor = "0.4.1"
did-webplus-core = { path = "../core", features = ["ed25519-dalek", "k256"] }
did-webplus-mock = { path = "../mock" }
reqwest = { version = "0.12.5", features = ["json"] }
serde_json = "1.0.107"
test-util = { path = "../../test-util" }
tokio = { version = "1.41.0", features = ["macros", "rt-multi-thread"] }
tracing = "0.1.37"
url = "2.5.0"
