[package]
name = "vjson-storage-sqlite"
version = "0.1.0"
authors = ["Victor Dods <victor.dods@ledgerdomain.com>"]
edition = "2021"

[dependencies]
async-trait = "0.1.80"
selfhash = "0.4.0"
sqlx = { version = "0.8.2", features = ["sqlite", "time"] }
storage-traits = { path = "../../storage-traits", features = ["sqlx-sqlite"] }
time = "0.3"
tracing = "0.1.37"
vjson-store = { path = "../store", features = ["sqlx"] }
