[package]
name = "verifier-resolver"
version = "0.1.0"
authors = ["Victor Dods <victor.dods@ledgerdomain.com>"]
edition = "2024"

[dependencies]
anyhow = "1.0.94"
async-trait = "0.1.80"
signature-dyn = "0.1.0"
thiserror = "1.0.60"
tracing = "0.1.37"
url = "2.5.4"
